.sidebar img {
  /* height: 50px; */
  width: 60px;
  cursor: pointer;
}
.sidebar{
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
}
.sidebar_list{
    display: flex;
    flex-direction: row;
    gap: 20px; 
    align-items: center;
    height: 0;
    transition: 300ms;
}
.sidebar_list_active{
    height: 50px;
}
.sidebar_list_item{
    border-radius: 50%;
    height: 24px;
    width: 24px;
    list-style: none;
}
/* Sidebar.css */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 80%;
    text-align: center;
  }
  label{
    display: flex;
    justify-content: left;
    align-items: flex-start;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  